
{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}



<div class="container">
    <div class="jumbotron">
        {% if registered %}
        <h1>Thank you for registering!</h1>
        {% else %}
        <h1>Welcome to the HANGMAN game</h1>
        <h3>Register here.  Just fill out the form.</h3>
        <form id="registration_form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <!-- <input id="register_btn" class="btn btn-success" type="submit" name="" value="Register"> -->
            <button id="register_btn" class="btn btn-success" type="submit" name="">Register</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
